///*----------------------------------*\
//  #COLOR SETTINGS
//\*----------------------------------*/

// Colors
//
// The color scheme for the default theme is intentially minimal.
//
// colors:
// $psg-text-color:            #000000     - Text color.
// $psg-border-color:          #C2C2C2     - Neutral gray border color.
// $psg-secondary-bkg-color:   #DBDBDB     - Light gray background color.
// $psg-code-sample-bkg-color: #F5F5F5     - Light gray code sample background color.
// $psg-lightest-bkg-color:    #FFFFFF     - Light white background color.
//
// weight: 1
//
// Styleguide Colors

$psg-text-color: #000000 !default;
$psg-border-color: #C2C2C2 !default;
$psg-lightest-bkg-color: #FFFFFF !default;
$psg-secondary-bkg-color: #DBDBDB !default;
$psg-code-sample-bkg-color: #F5F5F5 !default;
