///*----------------------------------*\
//  #TYPOGRAPHY SETTINGS
//\*----------------------------------*/

$psg-title-line-height: 1.2 !default;
$psg-body-line-height: 1.6 !default;

$psg-light-font-weight: 300 !default;
$psg-book-font-weight: 400 !default;
$psg-bold-font-weight: 700 !default;

$psg-heading-font-size: 48px !default;
$psg-title-font-size: 24px !default;
$psg-subtitle-font-size: 14px !default;
$psg-intro-font-size: 16px !default;
$psg-body-font-size: 14px !default;
$psg-subtext-font-size: 11px !default;

$psg-loose-letter-spacing: .75px !default;

$psg-font-family: 'Roboto Slab', serif !default;
