///*----------------------------------*\
//  #SPACING
//\*----------------------------------*/

$psg-spacing-0: 0px !default;
$psg-spacing-1: 10px !default;
$psg-spacing-2: 20px !default;
$psg-spacing-3: 30px !default;
$psg-spacing-4: 40px !default;
$psg-spacing-5: 80px !default;
